<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>c</string>
		<string></string>
		<string></string>
		<string></string>
		<string>a</string>
		<string>-</string>
		<string>$</string>
		<string></string>
		<string>v</string>
	</array>
	<array>
		<string>`</string>
		<string>^</string>
		<string>&apos;</string>
		<string>+</string>
		<string>n</string>
		<string>!</string>
		<string>/</string>
		<string>l</string>
		<string>\</string>
	</array>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string>?</string>
		<string>i</string>
		<string></string>
		<string>x</string>
		<string>=</string>
		<string>€</string>
	</array>
	<array>
		<string>{</string>
		<string></string>
		<string>%</string>
		<string>(</string>
		<string>h</string>
		<string>k</string>
		<string>[</string>
		<string></string>
		<string>_</string>
	</array>
	<array>
		<string>q</string>
		<string>u</string>
		<string>p</string>
		<string>c</string>
		<string>o</string>
		<string>b</string>
		<string>g</string>
		<string>d</string>
		<string>j</string>
	</array>
	<array>
		<string>|</string>
		<string>↑</string>
		<string>}</string>
		<string>m</string>
		<string>r</string>
		<string>)</string>
		<string>@</string>
		<string>↓</string>
		<string>]</string>
	</array>
	<array>
		<string>~</string>
		<string>..</string>
		<string>y</string>
		<string>&lt;</string>
		<string>t</string>
		<string>*</string>
		<string></string>
		<string></string>
        <string></string>
	</array>
    <array>
        <string>"</string>
        <string>w</string>
        <string>'</string>
        <string></string>
        <string>e</string>
        <string>z</string>
        <string>,</string>
        <string>.</string>
        <string>:</string>
    </array>
    <array>
        <string>f</string>
        <string>&amp;</string>
        <string>o</string>
        <string>#</string>
        <string>s</string>
        <string>&gt;</string>
        <string>;</string>
        <string></string>
        <string></string>
    </array>
</array>
</plist>
